# Proveedor LLM gratuito 
GROQ_API_KEY=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

# Modelo a usar
LLM_MODEL=llama-3.1-8b-instant

# ChromaDB
CHROMA_DB_PATH=./data/chroma_db
COLLECTION_NAME=inventario_docs

# Embedding model
EMBEDDING_MODEL=all-MiniLM-L6-v2
